<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% block style %}{% endblock %}
<nav>
    <ul class="menu">
        <li><a href="{{url_for('index')}}">Bitcoin</a></li>
        <li><a href="{{url_for('graphic.ethereum')}}">Ethereum</a></li>
        <li><a href="{{url_for('graphic.ripple')}}">Ripple (XRP)</a></li>
        <li><a href="{{url_for('graphic.bitcoinCash')}}">Bitcoin Cash</a></li>
        <li><a href="{{url_for('graphic.bitcoinSV')}}">BSV</a></li>
    </ul>
</nav>
<div class="hero">
    {% block hero %}{% endblock %}
</div>

{% block content %}{% endblock %}

{% block bottom %}{% endblock %}

