{% extends "base.html" %}

{% block title %}Ripple Price Evolution{% endblock %}
<!-- Chinese palette -->
{% block style %}
<style>
    nav {
        background-color: #2f3542;
    }

    .hero {
        background-color: #57606f;
    }
    .hero h1 {
        color: #f1f2f6;
    }
    .parameters {
        background-color: #57606f;
    }
    .menu > li a:link,
    .menu > li a:visited,
    .menu > li a:active,
    .menu > li a:visited:active {
        color: #2ed573;
    }
    .menu > li a:hover,
    .menu > li a:visited:hover {
        color: #7bed9f;
    }
    .input label {
        color: #dfe4ea;
    }
    .button {
        color: #ff4757;
        box-shadow: 0 3px 0 #ff4757;
    }
    .button:hover,
    .button:visited:hover {
        color: #ff6b81;
        box-shadow: 0 2px #ff6b81;
    }
    .description {
        background-color: #2f3542;
        color: #dfe4ea;
    }
</style>
{% endblock %}

{% block hero %}
<h1>Ripple (XRP) Price Evolution</h1>
{% endblock %}

{% block content %}
<section class="figure">
    {% if not params %}
        <img src="/static/images/plots/ripple_default.png" alt="Ripple price plot"/>
    {% else %}
        <img src="{{ url_for('graphic.plot_prediction', crypto='ripple', start_date=params[0],
                    months=params[1], min_ci=params[2], max_ci=params[3]) }}"
             alt="Ripple price plot"/>
    {% endif %}
</section>
{% endblock %}