@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
  
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic-webfont.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}
  
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}
  
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-LightItalic-webfont.woff') format('woff');
    font-style: italic;
    font-weight: 300;
}
  
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.8em;
    color: #bdc3c7;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

nav {
    background-color: #2c3e50;
}

.menu {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.menu > li{
    width: 120px;
}

.menu > li a:link,
.menu > li a:visited,
.menu > li a:active,
.menu > li a:visited:active {
    color: #27ae60;
    text-decoration: none;
}

.menu > li a:hover,
.menu > li a:visited:hover {
    color: #2ecc71;
    text-decoration: none;
}


.hero {
    background-color: #34495e;
    padding: 10px 30px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero h1 {
    color: #f1c40f;
    font-weight: 300;
    font-family: 'OpenSans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-style: normal;

    max-width: 60%;
}

.hero img {
    max-height: 0;
    max-width: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.figure {
    padding: 0 0 10px 0;
    justify-content: center;
    align-items: center;
}

.figure img{
    max-height: 600px;
    max-width: 100%;
}

.parameters {
    padding: 10px 40px;
    background-color: #34495e;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.param-vars {
    display: flex;
    flex-wrap: wrap;
}

.input {
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    letter-spacing: 0.5px;
}

.input label {
    padding: 0 10px;
}

.input input {
    width: 70px;
    border-radius: 2px;
    padding: 2px;
    background-color: #ecf0f1;
    color: #57606f;
}

.button {
    margin: 15px 20px 10px 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ecf0f1;
    box-shadow: 0 3px 0 #c0392b;

    font-weight: 300;
    font-size: 16px;
    color: #c0392b;
    letter-spacing: 1px;
}

.button:hover,
.button:visited:hover {
    cursor: pointer;
    color: #e74c3c;
    box-shadow: 0 2px 0 #e74c3c;
}

.description {
    justify-content: center;
    padding: 30px 10px 10px 10px;
    background-color: #2c3e50;

    font-family: 'OpenSans', sans-serif;
    color: #bdc3c7;
}

.description-text{
    width: 80%;
}

.description h1 {
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 35px;
    font-family: 'OpenSans', sans-serif;
}

.description ul > li {
    margin: 10px 0;
}

@media only screen and (min-width: 767px) and (max-width: 960px){
    body{
        font-size: 16px;
    }
    nav{
        height: 35px;
    }
    .menu{
        justify-content: space-around;
    }
    .menu > li{
        width: auto;
    }
    .hero{
        height: 90px;
        padding: 0 30px;
    }
    .hero img{
        max-height: 80px;
        max-width: 80px;
    }
    .hero h1{
        max-width: auto;
    }
    .parameters{
        padding: 20px 70px;
    }
    .button{
        margin: 10px 40px;
    }
    .description{
        padding: 60px 40px 40px 40px;
        line-height: 1.5em;
    }
    .description-text{
        width: 70%;
    }
    .description h1{
        font-size: 1.5em;
    }
    .description ul > li{
        margin: 25px 0;
    }
}

@media only screen and (min-width: 960px){
    body{
        font-size: 18px;
    }
    nav{
        height: 35px;
    }
    .menu{
        justify-content: space-around;
    }
    .hero{
        padding: 0 30px;
        height: 90px;
    }
    .hero img{
        max-height: 80px;
        max-width: 80px;
    }
    .hero h1{
        max-width: auto;
    }
    .parameters{
        padding: 10px 40px;
    }
    .input{
        width: auto;
    }
    .button{
        margin: 10px 40px;
    }
    .description{
        padding: 60px 40px 40px 40px;
        line-height: 1.5em;
    }
    .description-text{
        width: 60%;
    }
    .description h1{
        font-size: 2em;
    }
    .description ul > li{
        margin: 25px 0;
    }
}